body{
    background-image:url(https://images.unsplash.com/photo-1507842217343-583bb7270b66?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80) ;
}
.content{
    background-color: burlywood;
    padding: 3%;
    margin: 3% auto;
    width: 80%;
    min-height: auto;
}
h1{
    font-size: 45px;
    color: brown;
    font-family:"Arial Black";
}
#disc{
    font-size: 27px;
    color: #a5571f;
    font-family:"Arial ";
}
#line{
    font-size: 45px;
    color: brown;
    margin-top: -3%;
    overflow: hidden;


}
.form{
    padding: 4%;
}
label{
    font-size: 25Px;
    color: brown;
    font-family: "Arial";
}
.btn{
    background-color: brown;
    color: #dec042;
    width: 30%;
    font-size: 20px;
    margin-top: 2.4%;
}
.btn:hover{
    background-color: #a5571f;
}
.form-control{
    background-color: #ded483;

}
/* nav */
ul {
    list-style-type: none;
    margin:0;
    padding:0;
    overflow:hidden;
    display: block;
    background-color: #333;
    min-width: 100%;
    z-index: 22;
    position:fixed;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #a5571f;
}
#icon{
    margin-left:49px;
    background-color: #a5571f;
    height: 46px
}
#spetial{
    width: 50%;
}
.search {
    margin-top:9px;
    margin-left: 30px;
    width: 80%;

}
.input{
    background-color: white;
    height: 25px;
    width: 80%;
    border-radius: 5px;
    float: left;
    margin-right: 6px;
}
.sub {
    background-color: #a5571f;
    width: 35px;
    height: 30px;
    display: block;
    color: #bba916;
    border: 2px solid #7b8001;
}
